@import '~@lib/css/index.styl';

.refund
  padding: 0 0 115px;
  .refund-info
    margin: 15px 0 0;
    padding: 30px;
    background: #fff;
    dl
      margin: 12px 0;
      overflow: hidden;
      dt, dd
        float: left;
      dt
        color: #999;
      dd
        width: 515px;
        word-break:break-all;
        word-wrap: break-word;
        &.price
          color: #FB6666;
        &.right
          text-align: right;
  .refund-reason
    p
     padding: 0 30px;
    .textarea
      padding: 15px 30px;
      background: #fff;
      textarea
        width: 100%;
        height: 340px;
        border: 0 none;
        px2px(font-size, 32px);
      p
        margin: 0;
        padding: 0;
        color: #9CA7C1;
        text-align: right;
        outline: none;
  .refund-warn
    p
      margin: 0;
      padding: 30px;
      color: #333;
  .refund-list
    ul
      margin: 0;
      padding: 0;
      li
        padding: 0 30px;
        list-style-type:none;
        color: #666;
        outline: none;
        px2px(line-height,45px)
