.earning
  padding: 0;
  background: #fff;
  a
    text-decoration: none;
  .earning-title
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    .earning-body
      background: #fff;
  .earning-body
    .paging
      padding: 10px 20px;
    .none-record
      padding: 15px 0;
      text-align: center;
    .money
      display: -webkit-box;
      display: box;
      padding: 38px 0;
      background: #fafafb;
      >*
        -webkit-box-flex: 1;
        box-flex: 1;
        text-align: center;
        box-align: center;
        -webkit-box-align: center;
        box-pack: center;
        -webkit-box-pack: center;
        >span
          color: #aaa;
          font-size: 16px;
        >div
          padding-top: 14px;
          span:first-child
            font-size: 32px;
    .withdrawals
      padding-top: 40px;
      text-align: center;
      span:nth-of-type(2)
        font-size: 14px;
        color: #aaa;
      input
        margin-top: 8px;
        padding: 12px 0;
        width: 445px;
        font-size: 16px;
        border: 1px solid #E6EAF2;
        text-align: center;
        border-radius: 4px;
        outline: none;
      .button
        padding: 39px 0 39px;
        button
          padding: 8px 35px;
          color: #fff;
          border: 0 none;
          font-size: 16px;
          background: #12B7F5;
          border-radius: 20px;
          cursor: pointer;
  .earning-list
    .gap
      height: 9px;
      background: #efeff4;
    ul
      margin: 0;
      padding: 0;
      list-style-type: none;
      &.e-list
        padding: 0 42px;
      li
        padding: 18px 0;
        display: -webkit-box;
        display: box;
        border-bottom: 1px solid #E3E3E3;
        line-height: 26px;
        -webkit-box-align: center;
        box-align: center;
        >*
          display: -webkit-box;
          display: box;
          color: #757F98;
          word-break: break-all;
          font-size: 16px;
        &.head
          border-bottom: 0 none;
          >*
            color: #3C4A55;
          >:first-child
            text-align: left;
        >:nth-child(1)
          width: 200px;
          -webkit-box-flex: 1;
          box-flex: 1;
        >:nth-child(2)
          -webkit-box-flex: 1;
          box-flex: 1;
        >:nth-child(3)
          display: block;
          text-align: right;
          -webkit-box-flex: 8;
          box-flex: 8;
