html {
  height: 100%;
  background: #333;
}

body {
  position: relative;
  margin: 0 auto;
  height: 100%;
  background: #f0eff5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  font-size: initial;
}

a {
  text-decoration: none;
}

a a:visited, a:active {
  color: inherit;
}

.c-index {
  height: 100%;
}

/* flex */
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-item {
  flex-grow: 1;
}

/* float */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

.c-index {
  /*transform: scale(1,1);*/
}

.btn {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

button.btn {
  border: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: .6em;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  display: none;
}

#loading > i {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border: 2px solid currentColor;
  width: 2em;
  height: 2em;
  background: transparent;
  border-radius: 100%;
  opacity: 0;
  animation: ball-scale-ripple 1s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}

#loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

#loader > img {
  -webkit-animation: animate 6s infinite ease-in-out;
  animation: animate 6s infinite ease-in-out;
}

#loader > span {
  padding: 32px;
  color: #2F57DA;
  font-weight: bold;
}

@keyframes animate {
  0% {
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
  }
  50% {
    transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
  }
  75% {
    transform: perspective(160px) rotateX(0deg) rotateY(-180deg);
  }
  100% {
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
  }
}

@keyframes ball-scale-ripple {
  0% {
    opacity: 1;
    transform: scale(0.1)
  }
  70% {
    opacity: .65;
    transform: scale(1)
  }
  100% {
    opacity: 0
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.icon-persons {
  position: relative;
  padding-right: .4em;
  /*width: 1em;*/
  /*height: 1em;*/
}

.icon-persons:before {
  position: absolute;
  content: "\e623";
  font-size: 80%;
  top: .1em;
  left: .7em;
}

.icon-persons:after {
  position: relative;
  content: "\e623";
}

.font-ragular {
  font-family: PingFangSC-Regular, sans-serif;
}

.font-medium {
  font-family: PingFangSC-Medium, sans-serif;
  font-weight: 500
}

.font-bold {
  font-weight: bold;
  font-family: PingFangSC-Bold, sans-serif;
}

.text-desc {
  font-size: .24rem;
  line-height: .36rem;
}
