border()
    px2rem('border',arguments)
border-top()
    px2rem('border-top',arguments)
border-right()
    px2rem('border-right',arguments)
border-bottom()
    px2rem('border-bottom',arguments)
border-left()
    px2rem('border-left',arguments)
border-radius()
    px2rem('border-radius',arguments)
border-top-left-radius()
    px2rem('border-top-left-radius',arguments)
border-top-right-radius()
    px2rem('border-top-right-radius',arguments)
border-bottom-left-radius()
    px2rem('border-bottom-left-radius',arguments)
border-bottom-right-radius()
    px2rem('border-bottom-right-radius',arguments)
