body {
    margin: 0;
}
a {
	text-decoration: none;
    width: 100%;
    padding: 5px 10px;
    display: block;
}

.box {
    display: flex;
}
ul.tier {
	-webkit-padding-start: 0;
    -webkit-margin-start: 1rem;
}
.tier li {
	list-style: none;
}

#topbar {    
    height: 60px;
    align-items: center;
    padding: 10px;
}
#content {
    height: 100%;
}
#toc {	
    min-width: 200px;    
}
#doc {
	padding: 10px;
}

#topbar .logo > img {
    height: 100%;
}